---
hello_text: "Hello there!"
show_footer: true
fruit:
  - name: apple
    cost: $1
    color: red
  - name: banana
    cost: $10
    color: yellow
  - name: orange
    cost: $15
    color: orange
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
<h1>About Page</h1>
<p>{{ page.hello_text }}</p>
<ul>
  {% for item in page.fruit %}
  <li>{{ item.name }} cost: {{ item.cost }}, color: {{ item.color }}</li>
  {% endfor %}
</ul>
{% if page.show_footer %}
<footer>I am a footer</footer>
{% endif %}
  </body>
</html>
